.grot {
  /* The closest we can get to Grotesque */
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 0em;
  padding: 0em;
}

article {
  padding-left: 4em;
  font-size: 14pt;
  text-align: justify;
}

.huge { font-size: 50pt; }
.big { font-size: 30pt; }
.mediumsize { font-size: 18pt; }
.bolder { font-weight: bolder; }
.bold { font-weight: bold; }
.lighter { font-weight: lighter; }

.pink { color: #f4455d; }
.darkblue { color: #0e063e; }
.black { color: #000000; }

h1 {
  letter-spacing: -1px;
  font-size: 40pt;
  font-weight: bolder;
  color: #f4455d;
}

h2 {
  letter-spacing: -1px;
  font-size: 25pt;
  font-weight: bold;
  color: #0e063e;
}

a {
  color: #f4455d;
  text-decoration: none;
}

a:hover {
}

hr {
  margin-top:2em;
  margin-bottom:2em;
  height: 1px;
  border:none;
  border-top: #666 1px solid;
}

.highlight {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 2em;
  background-color: #f8f8f8;
  font-size: 12pt;
  font-family: Monaco, monospace;
}

.post-body {
  margin-top: 4em;
}

#footer {
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: white;
  font-size: 8pt;
  padding-left: 4em;
  color: #bbb;
  font-size: 12pt;
}
#footer a {
  color: #bbb;
  text-decoration: underline;
}

#main-content {
  max-width: 960px;
  padding-right: 4em;
}

#header {
  margin: 0em;
  margin-bottom: 2em;
  padding: 1em;
  padding-left: 5em;
  background-color: #eee;
  color: #333;
  width: 100%;
}

#header a {
  color: #666;
}

#header a:hover {
  color: #666;
}

#about {
  margin-left: 4em;
}

#about a {
  color: black;
}

.align-left {
  text-align: left;
}

.button {
  margin-right: 2em;
}
