.grot {
  /* The closest we can get to Grotesque */
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 0em;
  padding: 0em;
}

article {
  padding: 4em;
  font-size: 14pt;
}

.huge { font-size: 50pt; }
.big { font-size: 30pt; }
.mediumsize { font-size: 18pt; }
.bolder { font-weight: bolder; }
.bold { font-weight: bold; }
.lighter { font-weight: lighter; }

.pink { color: #f4455d; }
.darkblue { color: #0e063e; }
.black { color: #000000; }

h1 {
  letter-spacing: -1px;
  font-size: 50pt;
  font-weight: bolder;
  color: #f4455d;
}

h2 {
  letter-spacing: -1px;
  font-size: 30pt;
  font-weight: bold;
  color: #0e063e;
}

a {
  color: #f4455d;
  text-decoration: none;
}

a:hover {
}

hr {
  margin-top:2em;
  margin-bottom:2em;
  height: 1px;
  border:none;
  border-top: #666 1px solid;
}

.article-container {
  position: absolute;
  width: 52em;
  left: 50%;
  margin-top: 2.5em;
  margin-left: -26em;
  padding: 0.5em;
}

.article-header {
}

.article-body {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  font-weight: 400;
  text-align: justify;
}

.highlight {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #f8f8f8;
  margin: 0pt;
  padding-left: 42pt;
  font-size: 12pt;
  font-family: Monaco, monospace;
}

.post-body {
  margin-top: 40pt;
}

#footer {
  position: absolute;
  bottom: 1em;
  font-size: 8pt;
  padding-left: 4em;
  color: #bbb;
  font-size: 12pt;
}
#footer a {
  color: #bbb;
}
#footer a:hover {
  color: #bbb;
}

#footer a:visited {
  color: #bbb;
}

#main-content {
  width: 960px;
}
