<img src="/gfx/portrait.jpg"
    class="img-responsive img-circle pull-right"
    alt="Author portrait" />
<p>
I'm a software developer with nearly a decade and half of work experience.
Currently I'm working on reservoir modelling software at <a
href="http://www.roxar.com">Roxar</a>.
</p>

<p>
While I've used over a dozen languages professionally, my personal projects are
usually done in C++, Python and Scheme.

<p>
I'm acknowledged in the
<a href="http://trac.sacrideo.us/wg/raw-attachment/wiki/WikiStart/r7rs.pdf">Scheme R<sup>7</sup>RS specification</a>
for finding some errors in it.

I did this while writing
<a href="https://github.com/cslarsen/mickey-scheme">my own interpreter</a>.
</p>

I also made <a href="/jp2a">jp2a</a>, which sees continued popularity.
</p>
