<p>
I'm a software developer at <a href="http://www.roxar.com">Roxar</a>. Before
that I was a consultant at <a href="http://www.bouvet.no">Bouvet</a>, and
before that a systems developer at <a href="http://www.ums.no">UMS</a>.
</p>

<p>
I love coding in all kinds of languages.
My fascination with <a
  href="https://en.wikipedia.org/wiki/Scheme_(programming_language)">Scheme</a> resulted in being
acknowledged in the <a
href="https://bitbucket.org/cowan/r7rs/raw/4c27517de187142ad2cf4bcd8cb9199ae1e48c09/rnrs/r7rs-official.pdf">R<sup>7</sup>RS</a>
specification. I found some simple errors in it while writing my own <a
href="https://github.com/cslarsen/mickey-scheme/">interpreter</a>.
</p>

<p>
Back in the day I wrote a quirky program called <a href="/jp2a">jp2a</a>. It's
still quite popular. What amuses me is that it's my most widely
distributed piece of code: It's available to literally <i>hundreds of
millions</i> of people as an easter egg!
</p>

<p>
Another thing that I find interesting is
<a href="https://en.wikipedia.org/wiki/Personal_genomics">personal genomics</a>.
When <a href="https://www.23andme.com">23andMe</a> were forced to take down their
health reports, I <a href="https://github.com/cslarsen/dna-traits/">reimplemented most of them</a>
from scratch in Python and C++.
</p>

<p>
Whenever I have the energy and time, I like holding local <a
  href="http://speakerdeck.com/csl">talks</a>, and I like writing about
interesting programming projects. The two post on <a
  href="/post/python-jit/">JIT compiling in Python</a> even made it to the
front page of <a href="https://news.ycombinator.com">Hacker News</a>.
</p>
