<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8" />

    <link href="{{ site.font_url }}"
          rel="stylesheet"
          type="text/css"/>

    <link href="/css/main.css"
          media="all"
          rel="stylesheet"
          type="text/css" />

    <link href="/css/syntax.css"
          media="all"
          rel="stylesheet"
          type="text/css" />

    <link rel="alternate"
          type="application/rss+xml"
          title="RSS"
          href="/rss.xml" />

    {% if site.adsense_tracking_id %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.adsense_tracking_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}

  </head>
  <body>
    <nav id="header">
      <ul>
        <li><a href="/"><img width="24" height="24" src="/gfx/icon-home.png" alt="Articles"/></a></li>
        <li><a href="mailto:Christian%20Stigen%20Larsen%20<{{ site.email }}>"><img width="24" height="24" src="/gfx/icon-email.png" alt="Email"/></a></li>
        <li><a href="{{ site.github }}"><img width="24" height="24" src="/gfx/icon-github.png" alt="GitHub"/></a></li>
        <li><a href="{{ site.twitter }}"><img width="24" height="24" src="/gfx/icon-twitter.png" alt="Twitter" /></a></li>
        <li><a href="{{ site.linkedin }}"><img width="24" height="24" src="/gfx/icon-linkedin.png" alt="LinkedIn"/></a></li>
        <li><a href="{{ site.facebook }}"><img width="24" height="24" src="/gfx/icon-facebook.png" alt="Facebook"/></a></li>
        <li><a href="{{ site.googleplus }}"><img width="24" height="24" src="/gfx/icon-google+.png" alt="Google+"/></a></li>
        <li><a href="{{ site.stackoverflow }}"><img width="24" height="24" src="/gfx/icon-stackoverflow.png" alt="Stack Overflow"/></a></li>
        <li><a href="/rss.xml"><img src="/gfx/icon-rss.png" width="24" height="24" alt="RSS feed" /></a></li>
      </ul>
    </nav>

    <div id="main-content">
      {{ content }}

      {% if site.related_posts.size > 1 %}
      <div class="otherPosts">
        <h2 class="darkblue">Related posts</h2>
        <table>
          {% for p in site.related_posts %}
            {% if p.url != page.url %}
            <tr>
              <td><a href="{{ p.url }}">{{ p.title }}</a></td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      {% endif %}

      <div class="otherPosts">
        {% for tag in page.tags %}
          {% if site.tags[tag].size > 1 %}
          <h2 class="darkblue">Posts tagged &laquo;{{ tag }}&raquo;</h2>
          <table>
            {% for p in site.tags[tag] %}
              {% if p.url != page.url %}
              <tr><td><a href="{{ p.url }}">{{ p.title }}</a></td></tr>
              {% endif %}
            {% endfor %}
          </table>
          {% endif %}
        {% endfor %}
      </div>

      <div class="otherPosts">
        {% for category in page.categories %}
          {% if site.categories[category].size > 1 %}
          <h2 class="darkblue">Other posts under the category &laquo;{{ category }}&raquo;</h2>
          <table>
            {% for p in site.categories[category] %}
              {% if p.url != page.url %}
                <tr><td><a href="{{ p.url }}">{{ p.title }}</a></td></tr>
              {% endif %}
            {% endfor %}
          </table>
          {% endif %}
        {% endfor %}
      </div>

      {% if page.disqus != false %}
      <div id="disqus_thread">
        <script type="text/javascript"
          src="http://disqus.com/forums/{{ site.disqus_user }}/embed.js">
        </script>
        <noscript><p><a href="http://{{ site.disqus_user }}.disqus.com/?url=ref">View the discussion thread.</a></p></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
      {% endif %}
    </div>

    <footer>
      <p>
      {{ site.copyright }}
      </p>
      <p>
      Site generated using <a href="http://jekyllrb.com">Jekyll</a>.
      Icons from <a href="http://iconmonstr.com">iconmonstr</a>.
      Fonts from <a href="http://www.google.com/fonts">Google Fonts</a>.
      </p>
    </footer>
  </body>
</html>
