---
layout: default
---

<article>
  <header class="post-header">
    <h1>
      {% if page.formatted_title %}
        {{ page.formatted_title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
    <div class="subtitle">{{ page.subtitle }}</div>
    <br/>
    <div class="byline">
      By Christian Stigen Larsen <br/>
      Posted {{ page.date | date_to_string }}
      {% if page.updated %} &mdash;
        Last updated {{ page.updated | date_to_string }}
      {% endif %}
    </div>
  </header>

  <section class="post-body">
    {{ content }}
  </section>
</article>

