---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="post-header">
        <div class="page-header">
          <small><a href="/">&laquo; Home</a></small>
          <h1>
            {% if page.formatted_title %}
              {{ page.formatted_title }}
            {% else %}
              {{ page.title }}
            {% endif %}
            <br/><small>{{ page.subtitle }}</small>
          </h1>
        </div>
        <div class="byline">
          <b><a href="/" style="color:black;">By Christian Stigen Larsen</a></b>
          <br/>
          {% if page.date < page.updated %}
            {{ page.date | date_to_string }}, Updated {{ page.updated | date_to_string }}
          {% else %}
            {{ page.date | date_to_string }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="post-body margin-top">
        {{ content }}
      </div>
    </div>

    {% if page.nolinks == null %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">About me</div>
        <div class="panel-body">
          <p>
          I'm a software developer with well over a decade of work
          experience. Currently I'm writing reservoir analysis software at
          <a href="http://www.roxar.com">Roxar</a>.
          </p>
          While I've worked professionally in a dozen languages, I prefer
          C++, Python and Scheme.
          In fact, I'm acknowledged in the <a
             href="http://trac.sacrideo.us/wg/raw-attachment/wiki/WikiStart/r7rs.pdf">Scheme
             R<sup>7</sup>RS standard</a> for contributing bug reports.
           I did this while writing <a
             href="https://github.com/cslarsen/mickey-scheme">my own interpreter</a>.
        </div>
        <div class="panel-heading">Me on the net</div>
        <div class="panel-body">
           <table>
            <tr><td><a href="/">Front page</a></td></tr>
            <tr><td><a href="{{ site.github }}">GitHub</a></td></tr>
            <tr><td><a href="{{ site.twitter }}">Twitter</a></td></tr>
            <tr><td><a href="{{ site.linkedin }}">LinkedIn</a></td></tr>
            <tr><td><a href="{{ site.stackoverflow }}">Stack Overflow</a></td></tr>
            <tr><td><a href="/rss.xml">RSS feed for this site</a></td></tr>
            <tr><td><a href="mailto:{{ site.email }}">Email me at {{ site.email }}</a></td></tr>
          </table>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="col-md-4">
      {% assign showTags = false %}
      {% if page.tags %}
        {% for tag in page.tags %}
          {% if site.tags[tag].size > 1 %}
            {% assign showTags = true %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% assign showCategories = false %}
      {% if page.categories %}
        {% for category in page.categories %}
          {% if site.categories[category].size > 1 %}
            {% assign showCategories = true %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% assign showRelated = false %}
      {% if site.related_posts.size > 1 %}
        {% for p in site.related_posts %}
          {% if p.url != page.url %}
            {% assign showRelated = true %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if showTags or showCategories or showRelated %}
      <div class="panel panel-default">
      {% endif %}

      {% if showTags %}
        {% for tag in page.tags %}
          {% if site.tags[tag].size > 1 %}
          <div class="panel-heading">Posts tagged 
            &laquo;<b>{{ tag }}</b>&raquo;
          </div>
          <div class="panel-body">
            <table>
              {% for p in site.tags[tag] %}
                {% if p.url != page.url %}
                <tr><td><a href="{{ p.url }}">{{ p.title }}</a></td></tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if showCategories %}
        {% for category in page.categories %}
          {% if site.categories[category].size > 1 %}
          <div class="panel-heading">Other posts under the category
            &laquo;<b class="text-capitalize">{{ category }}</b>&raquo;
          </div>
          <div class="panel-body">
            <table>
              {% for p in site.categories[category] %}
                {% if p.url != page.url %}
                  <tr><td><a href="{{ p.url }}">{{ p.title }}</a></td></tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if showRelated %}
        <div class="panel-heading">Related posts</div>
        <div class="panel-body">
          <table>
            {% for p in site.related_posts %}
              {% if p.url != page.url %}
              <tr>
                <td><a href="{{ p.url }}">{{ p.title }}</a></td>
              </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      {% endif %}
      </div>
    </div>
  </div><!-- row -->

  {% if page.disqus != false %}
  <div class="row">
    <div class="col-md-8">
      <div id="disqus_thread">
        <script type="text/javascript"
          src="http://disqus.com/forums/{{ site.disqus_user }}/embed.js">
        </script>
        <noscript><p><a href="http://{{ site.disqus_user }}.disqus.com/?url=ref">View the discussion thread.</a></p></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      <footer>
        <p>
        {{ site.copyright }}
        </p>
        <p>
        Site generated using <a href="http://jekyllrb.com">Jekyll</a>.
        Style by <a href="http://getbootstrap.com">Bootstrap</a>.
        </p>
      </footer>
    </div>
  </div>
</div>
