---
layout: default
---

<div class="container">
  <div class="row">
    <div class="column" style="margin-top: 15%">
      <h1><a href="/" style="background-color: transparent;">
        {% if page.formatted_title %}
          {{ page.formatted_title }}
        {% else %}
          {{ page.title }}
        {% endif %}
        {% if page.subtitle %}
        — <small>{{ page.subtitle }}</small>
        {% endif %}
      </h1>
      <p class="sans-serif author">
        <b>By <a href="/" style="background-color:transparent;">Christian Stigen Larsen</a></b>
        <br/>
        {% capture pdate %}{{ page.date | date: "%Y-%m-%d" }}{% endcapture %}
        {% capture udate %}{{ page.updated | date: "%Y-%m-%d" }}{% endcapture %}
        {% if pdate < udate %}
          Posted {{ page.date | date_to_string }} &mdash; updated {{ page.updated | date_to_string }}
        {% else %}
          {{ page.date | date_to_string }}
        {% endif %}
      </p>
    {{ content }}
    </div>
  </div>

  {% if page.disqus != false %}
  <div class="row" style="margin-top: 10rem;">
    <div class="column">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus_user }}'; // must be global
        var disqus_loaded = false;

        function load_disqus()
        {
          if (disqus_loaded)
            return;
          else
            disqus_loaded = true;

          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }

        window.onscroll = function(e) {
          if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight)
            load_disqus();
        }
      </script>
    </div>
  </div>
  {% endif %}

  <div class="row" style="margin-top: 10rem;">
    <div class="column">
      <footer>
        <p>
        {{ site.copyright }}
        </p>
      </footer>
    </div>
  </div>
</div>
